body {
	background: rgb(36, 37, 40);
}

.Container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#Calc {
	top: 50%;
	width: 500px;
	height: 280px;

	background: rgb(50, 50, 50);
	border-radius: 3px;
}
#Input {
	width: 472px;
	height: 26px;
	margin: 10px 8px;
	padding-right: 8px;

	color: rgb(80, 80, 80);
	font-size: 20px;
	text-align: right;
}
#Numbers {
	display: inline-block;
	width: 200px;

	margin-left: 12px;
}
#Numbers > button:hover {
	cursor: pointer;
}

#Functions {
	display: inline-block;
	width: 270px;
}
#Functions > button:hover {
	cursor: pointer;
}

#Calc button {
	width: 60px;
	height: 36px;

	margin: 4px 2px;
}

.number {
	background: rgb(160, 160, 165);
	border: 2px solid rgb(140, 142, 146);
}

.function, .constant, .operator {
	background: rgb(210, 210, 210);
	border: 2px solid rgb(185, 190, 194);
}

.rad-deg {
	background: rgb(135, 163, 190);
	border: 2px solid rgb(110, 140, 170);
}

.clear, .backspace {
	background: rgb(170, 155, 163);
	border: 2px solid rgb(150, 130, 140);
}

.equals {
	width: 60px;
	height: 36px;

	margin: 4px 2px;

	background: rgb(20, 160, 50);
	border: 2px solid rgb(0, 140, 30);
}


#Open {
	position: absolute;
	left: 8px;
	bottom: 9px;

	width: 120px;
	height: 50px;

	background: rgb(80, 140, 200);
	border: 2px solid rgb(60, 120, 176);
}
#Open:hover {
	cursor: pointer;
}
